<!doctype html>
<html lang="en">

<head>
  <link href="css/main.min.css" rel="stylesheet" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>{{ title }}</title>
  <meta name="description" content="To Do List App">
</head>

<body>

  <h1>Hello World from NodeJs!</h1>

  <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>

</html>